html,
body {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
    color:cornflowerblue;
    background-color: black;
}

.game-container {
    width:90%;
}

.js-hide-debug {
    display: none;
}

.debug-map {
    border: 1px solid black;
}

.game-title {
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    color:cornflowerblue;
    margin: 0 auto;
    margin-bottom: 20px;
    width:90%;
}
